---
import { Layout } from '@components/layout/Layout';
import TypographyDemo from '@components/TypographyDemo';
---

<Layout>
  <div class="container py-8">
    <TypographyDemo client:load />
  </div>
</Layout>
